:root {
    --background: cyan;
    --foreground: magenta;
}

main{
    background-color: var(--background);
    color: var(--foreground);
    background-image: none;
}

body{
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, magenta);
    background-attachment: fixed;
}

.banner{
    background-image: url('banners/color.png');
    background-color: var(--foreground);
}

.invert{
    filter: none;
}