:root {
    --background: black;
    --foreground: white;
}

body {
    background-color: var(--background);
    background-image: url('blackdither.png');
    color: var(--foreground);
}

.invert{
    filter: invert(1);
}