:root {
    --background: black;
    --foreground: orange;
}

body{
    background-color: var(--background);
    color: var(--foreground);
    background-image: url('spoopybg.png');
}

.banner{
    background-image: url('banners/spookyboard.png');
    background-color: var(--foreground);
}

.invert{
    filter: invert(1);
}